{% extends 'blogApp/base.html' %}
  <!-- Main Content -->
{% block content %}

{% comment %} including the pageHeader {% endcomment %}

  {% block pageHeader %}  {% include 'blogApp/components/pageHeader.html' %} {% endblock pageHeader %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
        <div class="post-preview">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title"> {{ post.title}} </h2>
            <h3 class="post-subtitle"> {{ post.body | truncatewords:15 | linebreaks}} </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            {{ post.created }}
            </p>
        </div>
      {% endfor %}
        <hr>
      
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

  <hr>

{% endblock content %}

  